body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 100;
  color: #333333;
}
.search-panel {
  position: relative;
}
.search-panel .search-box {
  border: solid 1px #cfcfcf;
  padding: 5px;
  position: relative;
  top: 0;
  left: 0;
  /*&:after {
            content: "p";
            position: relative;
            display: inline-block;
            top: -5px;
            left: -10px;
        }*/
}
.search-panel .search-box .res {
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  margin-right: 4px;
}
.search-panel .search-box .res .cross {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}
.search-panel .search-box .res.asset {
  background-color: #629ac3;
  color: white;
}
.search-panel .search-box .res.text {
  background-color: #E0EEF8;
  color: #1e5b83;
}
.search-panel .search-box .txt-box {
  display: inline-block;
  min-width: 30px;
  height: 20px;
  border: none;
  outline: none;
}
.search-panel .search-icon {
  border: solid 1px #3884bb;
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
  position: relative;
}
.search-panel .search-result-panel {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 500px;
  background-color: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: opacity ease-in-out 400ms;
  -o-transition: opacity ease-in-out 400ms;
  -webkit-transition: opacity ease-in-out 400ms;
  transition: opacity ease-in-out 400ms;
}
.search-panel .search-result-panel .search-results {
  display: none;
  padding: 10px;
}
.search-panel .search-result-panel .search-results .assets-res {
  width: 49%;
  float: left;
}
.search-panel .search-result-panel .search-results .assets-res .asset {
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px 2px 5px;
  background-color: #54a1d8;
  color: white;
}
.search-panel .search-result-panel .search-results .docs-res {
  width: 49%;
  float: right;
}
.search-panel .search-result-panel.expanded {
  opacity: 1;
  border: solid 1px #cfcfcf;
  border-top: none;
  box-shadow: 1px 2px 4px rgba(147, 147, 147, 0.49);
  min-height: 400px;
  overflow: auto;
  -moz-transition: opacity ease-in-out 400ms;
  -o-transition: opacity ease-in-out 400ms;
  -webkit-transition: opacity ease-in-out 400ms;
  transition: opacity ease-in-out 400ms;
}
.search-panel .search-result-panel.expanded .search-results {
  display: block;
}
.animate-plobin {
  -moz-animation-name: plob;
  -o-animation-name: plob;
  -webkit-animation-name: plob;
  animation-name: plob;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}
.animate-plobout {
  -moz-animation-name: plobout;
  -o-animation-name: plobout;
  -webkit-animation-name: plobout;
  animation-name: plobout;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}
@keyframes plob {
  0% {
    -moz-transform: scale3d(0.8, 0.9, 1);
    -ms-transform: scale3d(0.8, 0.9, 1);
    -o-transform: scale3d(0.8, 0.9, 1);
    -webkit-transform: scale3d(0.8, 0.9, 1);
    transform: scale3d(0.8, 0.9, 1);
  }
  75% {
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes plobout {
  100% {
    -moz-transform: scale3d(0.1, 0.1, 1);
    -ms-transform: scale3d(0.1, 0.1, 1);
    -o-transform: scale3d(0.1, 0.1, 1);
    -webkit-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1);
    opacity: 0;
  }
  25% {
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*# sourceMappingURL=app.css.map */