@import "vars.less";

.search-panel {
    position: relative;

    .search-box {
        border: solid 1px #cfcfcf;
        padding: 5px;
        position: relative;
        top: 0;
        left: 0;
        /*&:after {
            content: "p";
            position: relative;
            display: inline-block;
            top: -5px;
            left: -10px;
        }*/
        .res {
            cursor: pointer;
            display: inline-block;
            min-width: 30px;
            padding: 2px 5px 2px 5px;
            border-radius: 2px;
            margin-right: 4px;
            
            .cross {
                display: inline-block;
                font-size: 12px;
                margin-left: 5px;
            }

            &.asset {
                background-color: @color-blue;
                color: white;
            }

            &.text {
                background-color: #E0EEF8;
                color: #1e5b83;
            }
        }

        .txt-box {
            display: inline-block;
            min-width: 30px;
            height: 20px;
            border: none;
            outline: none;
            color: rgb(150, 150, 150);

            &:focus {
                color: #333333;
            }
        }
    }

    .search-icon {
        border: solid 1px #3884bb;
        display: inline-block;
        width: 24px;
        height: 24px;
        float: right;
        position: relative;
    }

    .search-result-panel {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 500px;
        background-color: white;
        height: 0;
        overflow: hidden;
        opacity: 0;

        -moz-transition: opacity ease-in-out 400ms;
        -o-transition: opacity ease-in-out 400ms;
        -webkit-transition: opacity ease-in-out 400ms;
        transition: opacity ease-in-out 400ms;

        .search-results {
            display: none;
            padding: 10px;

            .assets-res {
                width: 49%;
                float: left;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    tr {
                        border-bottom: solid 1px #e5e5e5;
                        box-sizing: padding-box;

                        td {
                            padding: 5px;
                        }
                    }

                    thead {
                        tr {
                            background-color: #ededed;
                        }
                    }

                    tbody {
                        tr:hover {
                            background-color: lightyellow;
                        }

                        tr:focus {
                            border: solid 1px @color-blue;
                            outline: none;
                        }
                    }
                }

                .asset {
                    cursor: pointer;
                    display: inline-block;
                    padding: 4px 8px 4px 8px;
                    background-color: @color-blue;
                    color: white;
                    border-radius: 2px;
                }
            }

            .docs-res {
                width: 49%;
                float: right;
            }
        }

        &.expanded {
            opacity: 1;
            border: solid 1px #cfcfcf;
            border-top: none;
            box-shadow: 1px 2px 4px rgba(147, 147, 147, 0.49);
            min-height: 400px;
            overflow: auto;

            -moz-transition: opacity ease-in-out 400ms;
            -o-transition: opacity ease-in-out 400ms;
            -webkit-transition: opacity ease-in-out 400ms;
            transition: opacity ease-in-out 400ms;

            .search-results {
                display: block;
            }
        }
    }
}

.animate-plobin {
    -moz-animation-name: plob;
    -o-animation-name: plob;
    -webkit-animation-name: plob;
    animation-name: plob;
    -moz-animation-duration: 300ms;
    -o-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

.animate-plobout {
    -moz-animation-name: plobout;
    -o-animation-name: plobout;
    -webkit-animation-name: plobout;
    animation-name: plobout;
    -moz-animation-duration: 300ms;
    -o-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

@keyframes plob {
    0% {
        -moz-transform: scale3d(0.8, 0.9, 1);
        -ms-transform: scale3d(0.8, 0.9, 1);
        -o-transform: scale3d(0.8, 0.9, 1);
        -webkit-transform: scale3d(0.8, 0.9, 1);
        transform: scale3d(0.8, 0.9, 1);
    }
    75% {
        -moz-transform: scale3d(1.05, 1.05, 1);
        -ms-transform: scale3d(1.05, 1.05, 1);
        -o-transform: scale3d(1.05, 1.05, 1);
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
    }
    100% {
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes plobout {
    100% {
        -moz-transform: scale3d(0.1, 0.1, 1);
        -ms-transform: scale3d(0.1, 0.1, 1);
        -o-transform: scale3d(0.1, 0.1, 1);
        -webkit-transform: scale3d(0.1, 0.1, 1);
        transform: scale3d(0.1, 0.1, 1);
        opacity: 0;
    }
    25% {
        -moz-transform: scale3d(1.05, 1.05, 1);
        -ms-transform: scale3d(1.05, 1.05, 1);
        -o-transform: scale3d(1.05, 1.05, 1);
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1);
    }
    0% {
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}