<div class="search-panel">
    <div class="search-box">
        <span class="res {{t.termType}} {{t.animate}}" ng-repeat="t in terms" ng-click="removeItem($event, t)">{{t.text}}<span class="cross">x</span></span>
        <input type="text" class="txt-box" ng-model="searchText"/>
        <span class="search-icon">P</span>
    </div>
    <div class="search-result-panel">
        <div class="search-results">
            <div class="assets-res">
                <table>
                    <thead>
                        <tr>
                            <td>MSN</td>
                            <td>Type</td>
                            <td>Desc</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="asset in searchResults.assets">
                        <td><span class="asset" ng-click="selectTerm($event, asset)">{{asset.text}}</span></td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
            <div class="docs-res">
                docs res
            </div>
        </div>
    </div>
</div>