<div class="search-panel">
    <div class="search-box">
        <span class="res {{t.termType}} {{t.animate}}" ng-repeat="t in terms" ng-click="removeItem($event, t)">{{t.text}}<span class="cross">x</span></span>
        <input type="text" class="txt-box" ng-model="searchText" ng-change="startSearchDelayed($event)" ng-keyup="checkKeys($event)" ng-keydown="checkKeysDown($event)" tabindex="2" placeholder="Type to search..." />
        <span class="search-icon">{{statusIcon}}</span>
    </div>
    <div class="search-result-panel">
        <div class="search-results">
            <div class="assets-res" ng-show="searchResults.assets != null && searchResults.assets.length > 0">
                <table>
                    <thead>
                        <tr>
                            <td>MSN</td>
                            <td>Type</td>
                            <td>Desc</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="asset in searchResults.assets" tabindex="2" class="res-item">
                            <td><span class="asset" ng-click="selectTerm($event, asset)">{{asset.text}}</span></td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="docs-res">
                docs res
            </div>-->
        </div>
    </div>
</div>